.skeleton div{
    margin: 8px 32px 8px 16px;
    height: 50px;
}

.card{
    margin: 32px;
}

.titulo{
    margin: 32px 32px 32px 16px;
}

.statusLiberado {
    color: blue;
}

.statusConcluido {
    color: green;
}

.statusBloqueado, .statusCancelado {
    color: red;
}

.statusIcon {
    margin-right: 8px;
}

