.skeleton div{
    margin: 8px 32px 8px 16px;
    height: 50px;
}

.card{
    margin: 32px;
    border: 1px solid  #CACACA !important
}

.titulo{
    margin: 32px 32px 32px 16px;
}

.statusLiberado {
    color: #0F1B8D;
    display: flex;
    align-items: center;
}

.statusConcluido {
    color: #0BB931;
    display: flex;
    align-items: center;
}

.statusBloqueado, .statusCancelado {
    color: #BC0808;
    display: flex;
    align-items: center;
}

.statusIcon {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.primary_button{
    background-color: #E31515;
    color: #FFFFFF;
    padding: 8px 32px 8px 32px;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 8px;
}

.primary_button:hover{
    background-color: #ed3e3e;
}

.primary_button:active{
    background-color: #b41111;
}

.secondary_button{
    color: #E31515;
    padding: 8px 32px 8px 32px;
    border-radius: 8px;
    font-weight: bold;
    border: solid 1px #E31515;
}

.secondary_button:hover{
    box-shadow: 2px 2px 4px #CACACA;
}

.status_nenhum {
    color: #0BB931;
    display: flex;
    align-items: center;
  }

  .status_definitivo {
    color: #BC0808;
    display: flex;
    align-items: center;
  }
  
  .status_temporario {
    color:#FF9315;
    display: flex;
    align-items: center;
  }

  .modal_header{
    align-self: center;
}

.modal_header_text{
    color: #E31515;
    font-weight: bold;
    font-size: 24px;
}

.modal_footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }



.modal_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal_text_details {
    margin-bottom: 8px;
    font-size: 16px;
}

.modal_footer button{
    display: flex;
    justify-content: center;
    margin: 4px;
}
