.card {
    margin: 8px 32px 8px 16px;
}

.text_space{
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 16px;
}

.card:hover{
    box-shadow: 4px 4px 4px #e2e8f0;
}

.icon_style {
    background-color: #E31515;
    color: #FFF4F4;
    padding: 8px;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    margin-right: 24px;
    flex-shrink: 0
}

.title_container{
    display: flex;
    margin: 16px;
}

.container_estado{
    display: flex;
    align-items: center;
}

.container_dados_hemocentro h5{
    margin: 8px 32px 8px 16px;
}

.container_estado h5{
    margin-left: 16px;
}

.container_estado h5 label{
    margin-left: 16px;
}


.card_body{
    display: flex;
    align-items: center;
}

.botao{
    margin: 16px 0px 32px 16px;
}


.container {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    display: inline-block;
}

.primary_button{
    background-color: #E31515;
    color: #FFFFFF;
    padding: 8px 32px 8px 32px;
    border-radius: 8px;
    font-weight: bold;
}

.primary_button:hover{
    background-color: #ed3e3e;
}

.primary_button:active{
    background-color: #b41111;
}

.primary_button:disabled{
    background-color: #CACACA;
    cursor: not-allowed;
}

.secondary_button{
    color: #E31515;
    padding: 8px 32px 8px 32px;
    border-radius: 8px;
    font-weight: bold;
    border: solid 1px #E31515;
}

.secondary_button:hover{
    box-shadow: 2px 2px 4px #CACACA;
}

.icon_button{
    background-color: #E31515;
    color: #FFFFFF;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    margin-left: 16px;
}

.icon_button:hover{
    background-color: #ed3e3e;
}

.icon_button:active{
    background-color: #b41111;
}

.botao_adicionar{
    margin-left: 16px;
    margin-bottom: 32px;
    margin-top: 16px;
}