.card_container{
    margin-bottom: 32px;
  }

  .card_header{
    display: flex;
    align-items: center;
    color:  #E31515;
}

.card{
    border: solid 0.2px #CACACA;
    padding: 16px;
    border-radius: 8px;
    margin: 8px 32px 16px 16px;
    display: flex;
    align-items: center;
}

.card:hover{
    box-shadow: 4px 4px 4px #e2e8f0;
}

.card_text{
    display: flex;
    font-size: 12px;
    justify-content: space-around;

}

.titulo{
    margin: 32px 32px 16px 16px;
}

.texto{
   margin-left: 16px;
   margin-bottom: 32px;
}

.margem_icone{
    margin-right: 16px;
}